<link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1557232134/toasty.css" rel="stylesheet"/>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1557232134/toasty.js"></script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <button type="button" id="successtoast" class="btn btn-success btn-icon-text"><i
                    class="fa fa-check btn-icon-prepend"></i>Toast Notification success
            </button>
            <button type="button" id="infotoast" class="btn btn-info btn-icon-text"><i
                    class="fa fa-check btn-icon-prepend"></i>Toast Notification info
            </button>
            <button type="button" id="warningtoast" class="btn btn-warning btn-icon-text"><i
                    class="fa fa-check btn-icon-prepend"></i>Toast Notification warning
            </button>
            <button type="button" id="errortoast" class="btn btn-primary btn-icon-text"><i
                    class="fa fa-check btn-icon-prepend"></i>Toast Notification error
            </button>
        </div>
    </div>
</div>